<div class="container">
  <div class="row">    
    <app-titulo class="espaco" [titulo]="titulo">
      <button class="btn btn-sm btn-success" [routerLink]="['/cadastrarDep']">Cadastrar Departamento</button>
    </app-titulo>    
    <table class="table table-hover espaco">
      <thead class="thead-light">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Departamento</th>
          <th scope="col">Sigla</th>
          <th scope="col">Opções</th>      
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let dep of departamento">
          <td scope="row">{{dep.id}}</td>
          <td>{{dep.nome}}</td>
          <td>{{dep.sigla}}</td>
          <td><button class="btn btn-sm btn-outline-danger" (click)="remover(dep)">Remover</button>&nbsp;
            <button class="btn btn-sm btn-outline-info" [routerLink]="['/editarDep', dep.id]">Editar</button>
          </td>               
        </tr>
      </tbody>
    </table>
  </div>
  
  
  
</div>
