<form [formGroup]="form" (submit)="submit()">
  <div class="form-group">
    <label for="formGroupExampleInput" class="form-label">Nome</label>
    <input type="text" formControlName= "nome" class="form-control">
  </div>
  <div class="form-group">
    <label for="formGroupExampleInput2" class="form-label">Sigla</label>
    <input type="text" class="form-control" formControlName= "sigla">
  </div>
  <button class="btn btn-success" [disabled]="!form.valid">Salvar</button>
</form>

<div>
  <button [routerLink]="['/']" class="btn btn-success">Cancelar</button>
</div>