<div class="container">
  <div class="row">
    <app-titulo class="espaco" [titulo]="titulo">
      <button class="btn btn-sm btn-success" [routerLink]="['/cadastrarFunc']">Cadastrar Funcionario</button>
    </app-titulo> 
    <table class="table table-hover espaco">
      <thead class="thead-light">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Funcionário</th>
          <th scope="col">Foto</th>
          <th scope="col">RG</th>
          <th scope="col">Departamento</th>          
          <th scope="col">Opções</th>    
        </tr>
      </thead>  
      <tbody>
        <tr *ngFor="let func of funcionario">
          <td scope="row">{{func.id}}</td>
          <td>{{func.nome}}</td>
          <td>{{func.foto}}</td>
          <td>{{func.rg}}</td>
          <td>{{func.departamento}}</td>           
          <td>
            <button class="btn btn-sm btn-outline-danger" (click)="remover(func)">Remover</button>&nbsp;
            <button class="btn btn-sm btn-outline-info" [routerLink]="['/editarFunc', func.id]">Editar</button>
          </td>      
        </tr>
      </tbody>
    </table>
    
  </div>
</div>