@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';

.espaco{
    margin-top: 1vh;
}

.espaco2{
    margin-top: 2vh;
}

.btt{
    margin-right: 1vw;
    
}

@media(max-width: 650px){
    .btt{
        margin-bottom: 2vh !important;
    }
}