@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';

.espaco{
    margin-top: 1vh;
}

.espaco2{
    margin-top: 2vh;
}

.btt{
    margin-right: 2vw;
    
}

@media(max-width: 450px){
    .altura{
        margin-top: 2vh;
    }
}